{{!-- I moved this to profile.handlebars so
I think this file can be deleted --}}
<div id="{{id}}" class="blog-id text-center">

    <h3>{{title}}</h3>
    <h4>Posted by {{user.username}} on {{format_date date_created}}</h4>
    <h4>Content: {{content}}</h4>
  </div>

<div id="{{id}}" class="blog-id text-center new-comment">
    <div class="form-group new-comment">
        <label for="new-comment">Add a comment:</label>
        <textarea class="form-input" id="text-new-comment" name="blog-comment"></textarea>
      </div>
    <p>
        <button id="new-comment"class="btn btn-primary">Submit Comment</button>
    </p>
</div>

{{#each comments as |comment| }}
<div class="row mb-4 new-comment">
  <div class="col-md-7">
    <p>
      {{comment.content}}
    </p>
  </div>
</div>
{{/each}}

<script src="/js/comment.js"></script>
    

